{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpost{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_image %}
{% if page.cover_image %}
    {% image page.cover_image width-1200 as og_image %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_image.url }}" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_image.url }}" />
{% elif settings.base.SiteSettings.default_og_image %}
    {% image settings.base.SiteSettings.default_og_image width-1200 as og_image %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_image.url }}" />
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_image.url }}" />
{% endif %}
{% endblock %}

{% block content %}
    <section>
        <article class="container container--medium">
            <header class="stack">
                <p class="lede">{{ page.date|date:"j F Y" }}</p>
                <h1>{{ page.title }}</h1>
                {% with tags=page.tags.all %}
                    {% if tags %}
                        <ul class="tag-list">
                            {% for tag in tags %}
                                <li class="tag">{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </header>

            {% if page.cover_image %}
                {% picture page.cover_image width-1000 format-{avif,webp,jpeg} class="stream-image" alt="" %}
            {% endif %}

            <div class="stack">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>

            <p><a href="{% pageurl page.get_parent %}">&larr; Back to all posts</a></p>
        </article>
    </section>
{% endblock content %}
